@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: Barlow, sans-serif;
    font-size: 16px;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    --primary-color: #F16718;
    --primary-color-light: #FF9B62;
    --secondary-color: #162542;
    --secondary-color-light: #7B8BAD;
    --grey: #E8EFF2;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color-light);
    padding-block: 24px;
    display: grid;
    gap: 30px;
}

@media (width > 700px) {
    body {
        padding-block: 40px;
    }
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--secondary-color);
}

h1 {
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: -0.05rem;
}

h2 {
    font-size: 2rem;
    line-height: 1.125;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.75;
}

img.responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

@media (width > 700px) {
    nav {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (width > 1280px) {
    nav {
        width: 1220px;
        margin-left: 30px;
        margin-right: 30px;
        justify-self: center;
    }
}

.logo {
    width: 50px;
    height: 50px;
    display: block;
}

button {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    padding: 16px 37px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    color: var(--white);
    transition: background-color .3s;
    white-space: nowrap;
}

button.secondary {
    background-color: var(--secondary-color-light);
}

button.secondary:hover {
    background-color: var(--secondary-color);
}

button.primary {
    background-color: var(--primary-color-light);
}

button.primary:hover {
    background-color: var(--primary-color);
}

.main-grid {
    display: grid;
    grid-template-columns: 0 auto 0;
}

@media (width > 1280px) {
    .main-grid {
        grid-template-columns: 1fr 1280px 1fr;
    }
}

.left-col {
    background-color: var(--grey);
    height: 240px;
    grid-column: 1 / 2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-self: end;
}

.right-col {
    background-color: var(--grey);
    height: 240px;
    grid-column: 3 / 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hero {
    display: grid;
    grid-column: 2 / 3;
    gap: 30px;
    margin-left: 24px;
}

@media (width > 700px) {
    .hero {
        grid-template-columns: 2fr 3fr;
    }
}

.hero>div:first-child {
    margin-right: 24px;
    display: grid;
    justify-items: left;
    gap: 30px;
    align-self: center;
}

.hero>div:last-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    min-height: 300px;
    max-height: 450px;
}

@media (width > 700px) {
    .hero {
        margin-left: 40px;
    }

    .hero>div:first-child {
        margin: 0;
    }

    .hero>div:last-child {
        margin: 0;
    }
}

@media (width > 1280px) {
    .hero {
        margin-left: 30px;
        margin-right: 30px;
    }

    .hero>div:last-child {
        border-radius: 20px;
    }
}

/* NEW SECTION */
.content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    gap: 30px;
    text-align: center;
}

.content>div:nth-child(1) {
    grid-column: 1 / 2;
    background-color: var(--primary-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    min-height: 200px;
    max-height: 320px;
}

.content>div:nth-child(1) img {
    mix-blend-mode: multiply;
}

.content>div:nth-child(2) {
    grid-column: 2 / 3;
    margin-right: 24px;
    border-radius: 20px;
    overflow: hidden;
    min-height: 200px;
    max-height: 320px;
}

.content>div:nth-child(3) {
    grid-column: 1 / 3;
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    gap: 30px;
    text-align: center;
}

@media (width > 700px) {

    .content {
        margin-left: 40px;
        margin-right: 40px;
        text-align: left;
    }

    .content>div:nth-child(1) {
        border-radius: 20px;
        margin: 0;
    }

    .content>div:nth-child(2) {
        margin: 0;
    }

    .content>div:nth-child(3) {
        margin: 0;
        grid-template-columns: 1fr 2fr;
        text-align: left;
    }
}

@media (width > 1000px) {
    .content>div:nth-child(1) {
        max-height: 400px;
    }

    .content>div:nth-child(2) {
        max-height: 400px;
    }

}

@media (width > 1280px) {
    .content {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        margin-left: 30px;
        margin-right: 30px;
    }

    .content>div:nth-child(2) {
        grid-column: 2 / 4;
    }

    .content>div:nth-child(3) {
        grid-column: 4 / 5;
        grid-template-columns: 1fr;
        align-content: center;
    }
}

.icons {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: start;
}

.icons>div {
    text-align: center;
    display: grid;
    gap: 24px;
}

.icons img {
    width: 100px;
    height: 100px;
    justify-self: center;
}

@media (width > 700px) {
    .icons {
        margin-left: 40px;
        margin-right: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .icons>div {
        text-align: left;
    }

    .icons img {
        width: 100px;
        height: 100px;
        justify-self: start;
    }
}

@media (width > 1280px) {
    .icons {
        width: 1220px;
        margin-left: 30px;
        margin-right: 30px;
        justify-self: center;
        grid-template-columns: repeat(4, 1fr);
    }
}

footer {
    text-align: center;
}